body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
    font-family: "Courier New";

}
h2 {
    color: white;
    text-align: center;
    font-family: "Courier New";

}
h3 {
    color: white;
    text-align: center;
    font-family: "Courier New";

}
.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}